/* ==== MENU TOGGLE ==== */

.menu-toggle {
  position: absolute;
  right: 2rem;
  padding: 1rem;
  cursor: pointer;

  span,
  span::before,
  span::after {
    width: 2rem;
    height: 4px;
    background: #fff;
    transition: 0.3s ease-in-out;
  }

  span {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &::before {
      top: -8px;
    }

    &::after {
      bottom: -8px;
    }
  }
  &:hover {
    span {
      &::before {
        top: -9px;
      }

      &::after {
        bottom: -9px;
      }
    }
  }

  &.active {
    span {
      width: 0;

      &::before,
      &::after {
        top: 50%;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  @media (max-width: 680px) {
    display: grid;
    place-items: center;
  }
}
