.aside {
  ul {
    background: rgb(87, 240, 156);
    // position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    list-style: none;
  }

  li {
    position: relative;
    height: 60px;

    span {
      position: absolute;
      top: 0;
      right: 1rem;
      font-size: 0.625rem;
      font-family: "oswald";
      width: auto;
      height: 1.25rem;
      border-radius: 0.25rem;
      background: rgb(255, 111, 0);
      padding: 0.25rem;
      display: grid;
      place-items: center;
      color: #fff;
    }
  }
  a {
    display: grid;
    height: 100%;
    align-items: center;
    text-decoration: none;
    padding: 0 2rem;
    transition: 0.2s ease-in border-left;
    color: blue;
    font-weight: 700;

    &:hover {
      border-left: 5px solid green;
    }
  }
}
